@font-face {
    font-family: 'kalameh2';
    src: url("http://localhost:8000/assets/fonts/Kalameh-Bold.ttf");
}


*{
    font-family: 'kalameh2' !important;
}


.form-style > div{
    margin: 1rem 0rem;
}


.form-style label{
    font-weight: 900 !important;
}


.form-style .checkbox{
    display: flex;
    align-items: center;
}


.form-style .checkbox label{
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    cursor: pointer;
}


.form-style input{
    margin-top: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    resize: vertical;
    font-family: 'kalameh2';
    font-size: 15px;
}


.form-style textarea{
    margin-top: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    resize: vertical;
    font-family: 'kalameh2';
    font-size: 18px;
}


.form-style select{
    margin-top: 0.5rem;
    border: 1px solid #0000ff !important;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    resize: vertical;
    font-family: 'kalameh2';
    font-size: 18px;
}


.esponsers{
    display: flex;
    justify-content: center;
}


.esponsers .item{
    width: 100px;
    height: 100px;
    border: 3px solid #0000ff;
    border-radius: 1000px;
    overflow: hidden;
    padding: 0.2rem;
    margin: 0.5rem;
}


.esponsers .item img{
    height: 100%;
    border-radius: 1000px;
}


.hide-mobile{
    display: flex;
}


.hide-pc{
    display: none;
}


@media screen and (max-width:1200px){
    .esponsers .item{
        width: 80px;
        height: 80px;
    }
}


@media screen and (max-width:900px){
    .esponsers{
        flex-direction: column;
    }

    .esponsers > div{
        display: flex;
        justify-content: center;
    }

    .esponsers .item{
        width: 120px;
        height: 120px;
    }


    .hide-mobile{
        display: none;
    }


    .hide-pc{
        display: flex;
    }
}